<div class="container">
	<h3>Top Genes</h3>
	<img ng-show="data.results.length == 0" class="loading" src="assets/img/loading.gif" />
	<div ng-repeat="gene in data.results | orderBy:'overallFitness'" class="row">
		<div class="col-md-6" ng-click="gene.showall = !gene.showall">
			<strong>{{gene.gene}}</strong>
		</div>
		<div class="col-md-3">
			Weighted Fitness: {{gene.overallFitness}}
		</div>
		<div class="col-md-3">
			Naive Fitness: {{gene.naiveFitness}}
		</div>
		<br>
		<div class="col-md-12" ng-init="gene.showall = false;" ng-show="gene.showall">
			<small ng-repeat="run in gene.fitness">{{run.fitness}}, </small>
		</div>
		<hr>
	</div>
</div>