<div class="container">
	<h3>Top Genes</h3>
	<img ng-show="data.results.length == 0" class="loading" src="assets/img/loading.gif" />
	<div ng-repeat="gene in data.results | orderBy:'overallFitness'" class="row">
		<div class="col-md-6">
			<strong>{{gene.gene}}</strong>
		</div>
		<div class="col-md-3">
			Weighted Fitness: {{gene.overallFitness}}
		</div>
		<div class="col-md-3">
			Naive Fitness: {{gene.naiveFitness}}
		</div>
		<!-- <div class="col-md-1" ng-init="gene.showall = false;" ng-click="gene.showall = !gene.showall">
			Details
		</div>
		<div ng-repeat="run in gene.fitness" ng-show="gene.showall">
			<small>{{run.fitness}}</small>
		</div> -->
		<hr>
	</div>
</div>