<div class="container">
	<h3>Start Game</h3>
	<div ng-init="data.newgame = {}; data.newgame.host = 'localhost'" class="row">
		<div class="form-group col-md-3">
			<label for="host">Host</label>
			<input ng-model="data.newgame.host" type="text" class="form-control" id="host" placeholder="Enter host">
		</div>
		<div class="form-group col-md-3">
			<label for="port">Port</label>
			<input ng-model="data.newgame.port" type="number" class="form-control" id="port" placeholder="Enter port">
		</div>
	</div>
	<button class="btn btn-default" ng-click="createGame()">Create</button>
	<hr>
</div>
<div class="container">
	<h3>Current Running AIs <img ng-show="data.loading" class="loading" src="assets/img/loading.gif" /></h3>
	<div ng-if="data.games.length == 0">
		<p>
			No Current Games
		</p>
	</div>
	<div class="table" ng-if="data.games.length != 0">
		<div class="row">
			<div class="col-md-3">
				<h4>Team Color</h4>
			</div>
			<div class="col-md-3">
				<h4>Tanks</h4>
			</div>
		</div>
		<div ng-repeat="game in data.games track by game.id" class="game" ng-click="viewGame(game)">
			<div class="row">
				<div class="col-md-3" style="color: {{game.teamColor}};">
					{{game.teamColor}}
				</div>
				<div class="col-md-3">
					<strong class="bigger"><span class="label label-info">{{game.team.tanks.length}}</span></strong>
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
					<button class="btn btn-danger btn-sm" stop-event="click" ng-click="deleteGame(game)">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>