<div class="container">
	<div>
		<h3><a ng-href="#/games/{{data.gameId}}">Back to Game</a></h3>
		<div class="row">
			<div class="form-group col-md-3">
				<label for="host">Visual Multiplier</label>
				<input ng-model="data.visualMultiplier" type="text" class="form-control">
			</div>
			<div class="form-group col-md-3">
				<label for="host">Number of Steps</label>
				<input ng-model="data.numSteps" type="text" class="form-control">
			</div>
			<div class="form-group col-md-3">
				<label for="host">Type</label>
				<input ng-model="data.type" type="text" class="form-control">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" ng-src="{{data.prefix}}/games/{{data.gameId}}/teams/me/tanks/{{data.tankId}}.png?visualMultiplier={{data.visualMultiplier}}&numSteps={{data.numSteps}}&type={{data.type}}" />
		</div>
		<div class="col-md-6">
			<h4>Rejectors</h4>
			<div class="form-group col-md-12">
				<label for="host">Strength</label>
				<input ng-model="data.rejectors.strength" type="text" class="form-control">
			</div>
			<div class="form-group col-md-12">
				<label for="host">Spread</label>
				<input ng-model="data.rejectors.spread" type="text" class="form-control">
			</div>
			<div class="form-group col-md-12">
				<label for="host">Radius</label>
				<input ng-model="data.rejectors.radius" type="text" class="form-control">
			</div>
			<h4>Tangentials</h4>
			<div class="form-group col-md-12">
				<label for="host">Strength</label>
				<input ng-model="data.tangentials.strength" type="text" class="form-control">
			</div>
			<div class="form-group col-md-12">
				<label for="host">Spread</label>
				<input ng-model="data.tangentials.spread" type="text" class="form-control">
			</div>
			<div class="form-group col-md-12">
				<label for="host">Radius</label>
				<input ng-model="data.tangentials.radius" type="text" class="form-control">
			</div>
			<button class="btn btn-primary" ng-click="updateTank()">Update</button>
		</div>
	</div>
</div>