<div class="container">
	<div>
		<h3><a ng-href="#/games/{{data.gameId}}">Back to Game</a></h3>
		<div class="row">
			<div class="form-group col-md-3">
				<label for="host">Visual Multiplier</label>
				<input ng-model="data.visualMultiplier" type="text" class="form-control">
			</div>
			<div class="form-group col-md-3">
				<label for="host">Number of Steps</label>
				<input ng-model="data.numSteps" type="text" class="form-control">
			</div>
			<div class="form-group col-md-3">
				<label for="host">Type</label>
				<input ng-model="data.type" type="text" class="form-control">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" ng-src="{{data.prefix}}/games/{{data.gameId}}/teams/me/tanks/{{data.tankId}}.png?visualMultiplier={{data.visualMultiplier}}&numSteps={{data.numSteps}}&type={{data.type}}" />
		</div>
		<div class="col-md-6">
			<div class="row">
				<a href=""><h4 ng-click="data.attractorOpen = !data.attractorOpen">Attractor</h4></a>
				<div class="col-md-6" class="form-group" ng-repeat="(key, value) in data.tank.attractor" ng-show="data.attractorOpen">
					<label class="capitalize">{{key}}</label>
					<div ng-if="key == 'point'">
						<div class="form-group" ng-repeat="(innerkey, innervalue) in value">
							<label class="capitalize">{{innerkey}}</label>
							<input  ng-model="innervalue" type="text" class="form-control">
						</div>
					</div>
					<input ng-if="key != 'point'" ng-model="value" type="text" class="form-control" ng-disabled="key == 'id'">
				</div>
				<a href=""><h4 ng-click="data.rejectorOpen = !data.rejectorOpen">Rejectors</h4></a>
				<div ng-repeat="rejector in data.fields.rejectors">
					<div class="col-md-6" class="form-group" ng-repeat="(key, value) in rejector" ng-show="data.rejectorOpen">
						<label class="capitalize">{{key}}</label>
						<div ng-if="key == 'point'">
							<div class="form-group" ng-repeat="(innerkey, innervalue) in value">
								<label class="capitalize">{{innerkey}}</label>
								<input  ng-model="innervalue" type="text" class="form-control">
							</div>
						</div>
						<input ng-if="key != 'point'" ng-model="value" type="text" class="form-control" ng-disabled="key == 'id' || key == 'type'">
					</div>
				</div>
				<a href=""><h4 ng-click="data.tangOpen = !data.tangOpen">Tangentials</h4></a>
				<div ng-repeat="tang in data.fields.tangentials">
					<div class="col-md-6" class="form-group" ng-repeat="(key, value) in tang" ng-show="data.tangOpen">
						<label class="capitalize">{{key}}</label>
						<div ng-if="key == 'point'">
							<div class="form-group" ng-repeat="(innerkey, innervalue) in value">
								<label class="capitalize">{{innerkey}}</label>
								<input  ng-model="innervalue" type="text" class="form-control">
							</div>
						</div>
						<input ng-if="key != 'point'" ng-model="value" type="text" class="form-control" ng-disabled="key == 'id' || key == 'type'">
					</div>
				</div>
			</div>
			<button class="btn btn-primary" ng-click="updateTank()">Update</button>
		</div>
	</div>
</div>