<!DOCTYPE html>
<html lang="en" ng-app="BZRFlag">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BZRFlag Controller</title>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap-3.0.0/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	
	<div ng-controller="MainCtrl">
		<div class="container">
			<h1>BZRFlag Game Manager</h1>
			<hr>
			<h3>Start Game</h3>
			<div ng-init="data.newgame = {}; data.newgame.host = 'localhost'" class="row">
				<div class="form-group col-md-3">
					<label for="host">Host</label>
					<input ng-model="data.newgame.host" type="text" class="form-control" id="host" placeholder="Enter host">
				</div>
				<div class="form-group col-md-3">
					<label for="port">Port</label>
					<input ng-model="data.newgame.port" type="number" class="form-control" id="port" placeholder="Enter port">
				</div>
			</div>
			<button class="btn btn-default" ng-click="createGame()">Create</button>
			<hr>
		</div>
		<div class="container">
			<h3>Current Games</h3>
			<div ng-if="data.games.length == 0">
				<p>
					No Current Games
				</p>
			</div>
			<div ng-if="data.games.length != 0">
				<div class="row">
					<div class="col-md-3">
						<h4>Id</h4>
					</div>
					<div class="col-md-3">
						<h4>Team Color</h4>
					</div>
					<div class="col-md-3">
						<h4>Tanks</h4>
					</div>
				</div>
			</div>
			<div ng-repeat="game in data.games track by game.id">
				<div class="row">
					<div class="col-md-3">
						<small>{{game.id}}</small>
					</div>
					<div class="col-md-3">
						{{game.teamColor}}
					</div>
					<div class="col-md-3">
						<strong><span class="label label-info">{{game.team.tanks.length}}</span></strong>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script type="text/javascript" src="vendor/angular/angular.js"></script>
	<script type="text/javascript" src="vendor/angular/ng-resource.js"></script>
	<script type="text/javascript" src="vendor/angular/ng-route.js"></script>

	<!-- Main -->
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/services/backend.js"></script>

	<!-- Resources -->
	<script type="text/javascript" src="js/resources/game-resource.js"></script>

	<!-- Controllers -->
	<script type="text/javascript" src="js/controllers/main.js"></script>

</body>
</html>